<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

<body>
<th:block layout:fragment="tittle">
    Añadir Clientes
</th:block>
<th:block layout:fragment="content">


                    <form id="" class="form form-horizontal">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">DNI/RUC</label>
                                    <div class="col-lg-9">
                                        <input type="text" name="identificador" id="identificador" class="form-control"/>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Nombre</label>
                                    <div class="col-lg-9">
                                        <input type="text" name="nombre" id="nombre" class="form-control"/>
                                        <input type="hidden" name="id" id="id"/>
                                        <input type="hidden" name="idCuenta" id="idCuenta"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Apellidos</label>
                                    <div class="col-lg-9">
                                        <input type="text" name="apellidos" id="apellidos" class="form-control"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Correo</label>
                                    <div class="col-lg-9">
                                        <input type="text" name="correo" id="correo" class="form-control"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">telefono</label>
                                    <div class="col-lg-9">
                                        <input type="text" name="telefono" id="telefono" class="form-control"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Direccion</label>
                                    <div class="col-lg-9">
                                        <textarea  class="form-control" rows="3" name="direccion" id="direccion"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-offset-3 col-md-8">
                                    <div class="form-group">
                                        <input type="button" class="btn btn-primary btn-lg" id="buttonAgregar" value="Agregar" onclick="saveCliente()"/>
                                        <button class="btn btn-primary btn-lg " type="clear">Limpiar</button>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Es Ruc</label>
                                    <div class="col-lg-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" id="isRuc" name="isRuc" />
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Compañia</label>
                                    <div class="col-lg-9">
                                        <input type="text" name="company" id="company" class="form-control"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Estado</label>
                                    <div class="col-lg-9">
                                        <select  name="status" id="status" class="form-control">
                                            <option value="1">Activo</option>
                                            <option value="0">Inactivo</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Ciudad</label>
                                    <div class="col-lg-9">
                                        <input type="text" name="ciudad" id="ciudad" class="form-control"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Direccion</label>
                                    <div class="col-lg-9">
                                        <textarea  class="form-control" rows="3" name="direccion" id="direccion"></textarea>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </form>

</th:block>
<th:block layout:fragment="scripts">
    <script th:inline="javascript">
        var dtClientes;

        var urlContext=/*[[@{/}]]*/;
        var saveClienteURL = urlContext+"/cliente/save/";





        $( "#buttonAgregar" ).click(function() {
            saveCliente();
        });



        function saveCliente() {
            console.log("entro");
            if ($("#id").val() != "") {
                var id = parseInt($("#id").val());
            } else
                var id = 0;
            sUrl = saveClienteURL + id;


            $.ajax({
                url: sUrl,
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({
                    id: id,
                    nombre: $("#nombre").val(),
                    apellido: $("#apellidos").val(),
                    email: $("#correo").val(),
                    identificador: $("#identificador").val(),
                    company: $("#company").val(),
                    ciudad: $("#ciudad").val(),
                    telefono: $("#telefono").val(),
                    isRuc: setValueCheckType("#isRuc"),
                    status:$("#status").val(),
                    direccion: $("#direccion").val()
                }),
                beforeSend: function () {
                    //showLoadingPage();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    //closeLoadingPage();
                    swal(jqXHR.statusText);
                },
                success: function (response) {

                    //closeLoadingPage();
                    if (response.status == "error") {
                        mensajeSalida = "";
                        $.each(response.result,
                            function (idx, elem) {
                                mensajeSalida = elem.defaultMessage + "\n" + mensajeSalida;

                            });
                        swal("Advertencia", mensajeSalida, "warning");

                    } else {
                        resetFormCliente();
                        swal("Éxito",
                            "Se Guardó con éxito");
                        showListClientes();
                        $('#modal_default').modal('hide');

                    }
                }
            });
        }




        function setValueCheckType(id){
            if($(id).prop("checked")){
                console.log("checkeado");
                return 1;
            }else{
                console.log("no checkeado");
                return 0;
            }
        }

        function resetFormCliente() {
            resetForm("frmModalCliente");
        }
        function showLoadingButton(){
            $("#buttonAgregar").addClass( "spinner spinner-inverse spinner-sm" );
            $("#buttonAgregar").attr("disabled", true);
        }
        function disabledLoadingButton(){
            $("#buttonAgregar").removeClass( "spinner spinner-inverse spinner-sm" );
            $("#buttonAgregar").attr("disabled", false);
        }
    </script>

</th:block>
</body>
</html>