<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

</head>
<body>

<!-- Navbar -->

    <div class="layout-sidebar" th:fragment="menu">
        <div class="layout-sidebar-backdrop"></div>
        <div class="layout-sidebar-body">
            <div class="custom-scrollbar">
                <nav id="sidenav" class="sidenav-collapse collapse">
                    <ul class="sidenav">
                        <li class="sidenav-search hidden-md hidden-lg">
                            <form class="sidenav-form" action="http://demo.naksoid.com/">
                                <div class="form-group form-group-sm">
                                    <div class="input-with-icon">
                                        <input class="form-control" type="text" placeholder="Search…"/>
                                        <span class="icon icon-search input-icon"></span>
                                    </div>
                                </div>
                            </form>
                        </li>
                        <li class="sidenav-heading">Navigation</li>
                        <li class="sidenav-item has-subnav">
                            <a href="dashboard-1.html" aria-haspopup="true">
                                <span class="sidenav-icon icon icon-home"></span>
                                <span class="sidenav-label">Cliente</span>
                            </a>
                            <ul class="sidenav-subnav collapse">


                                <li><a th:href="@{/cliente/addCliente}">Añadir Cliente</a></li>
                                <li><a th:href="@{/cliente/}">Listar Cliente</a></li>
                            </ul>
                        </li>
                        <li class="sidenav-item has-subnav">
                            <a href="dashboard-1.html" aria-haspopup="true">
                                <span class="sidenav-icon icon icon-home"></span>
                                <span class="sidenav-label">Vehiculo</span>
                            </a>
                            <ul class="sidenav-subnav collapse">
                                <li class="sidenav-subheading">Vehiculo</li>

                                <li><a href="/vehiculo">Vehiculo</a></li>
                                <li class="sidenav-subheading">Conductor</li>

                                <li><a href="/conductor ">Listar Conductor</a></li>
                            </ul>
                        </li>
                        <li class="sidenav-item has-subnav">
                            <a href="dashboard-1.html" aria-haspopup="true">
                                <span class="sidenav-icon icon icon-home"></span>
                                <span class="sidenav-label">Producto</span>
                            </a>
                            <ul class="sidenav-subnav collapse">
                                <li class="sidenav-subheading">Productos</li>

                                <li><a th:href="@{/producto/}">Listar Producto</a></li>
                                
                            </ul>
                        </li>
						 <li class="sidenav-item has-subnav">
                            <a href="dashboard-1.html" aria-haspopup="true">
                                <span class="sidenav-icon icon icon-home"></span>
                                <span class="sidenav-label">Ventas</span>
                            </a>
                            <ul class="sidenav-subnav collapse">
                                <li class="sidenav-subheading">Ventas</li>

                                <li><a th:href="@{/ventas/}">Listar Ventas</a></li>
                                
                            </ul>
                        </li>



                    </ul>
                </nav>
            </div>
        </div>
    </div>
</body>
</html>