<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

<body>

<th:block layout:fragment="content">
    <form>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h6 class="panel-title">vehiculos</h6>
                        <div class="heading-elements">
                            <button type="button" class="btn bg-blue btn-labeled heading-btn" onclick="createVehiculo()"><i class="icon-plus3 position-left"></i> Agregar </button>

                        </div>
                        <a class="heading-elements-toggle"><i class="icon-menu"></i></a></div>

                    <div class="panel-body">
                        <table id="dtElement" class="table table-bordered datatable-save-state">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Placa</th>
                                <th>Modelo</th>
                                <th>Marca</th>
                                <th>Servicio</th>
                                <th>Color</th>
                                <th class="text-center">Acción</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
            </div>
        </div>

    </form>

    <div id="modal_default" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title">Vehiculo</h5>
                </div>

                <div class="modal-body">

                    <form id="frmModalVehiculo" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Placa</label>
                            <div class="col-lg-9">
                                <input type="text" name="placa" id="placa" class="form-control"/>
                                <input type="hidden" name="id" id="id"/>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Modelo</label>
                            <div class="col-lg-9">
                                <input type="text" name="modelo" id="modelo" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Marca</label>
                            <div class="col-lg-9">
                                <input type="text" name="marca" id="marca" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Color</label>
                            <div class="col-lg-9">
                                <input type="text" name="color" id="color" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">tipo Servicio</label>
                            <div class="col-lg-9">
                                <input type="text" name="tipoServicio" id="tipoServicio" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Estado</label>
                            <div class="col-lg-9">
                                <select  name="estado" id="estado" >
                                    <option value="0">Inactivo</option>
                                    <option value="1">Activo</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Turno</label>
                            <div class="col-lg-9">
                                <select  name="turno" id="turno" >
                                    <option value="0">Mañana</option>
                                    <option value="1">Tarde</option>
                                    <option value="2">Noche</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Foto</label>
                            <div class="col-lg-9">
                                <input type="text" name="foto" id="foto" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Conductor</label>
                            <div class="col-lg-9">
                                <select  name="conductorId" id="conductorId" >

                                </select>
                            </div>
                        </div>


                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
                    <button type="button" onclick="save()" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="scripts">
    <script>
        
        var saveVehiculoURL="/vehiculo/save/";
        var listAllVehiculoURL="/vehiculo/listAll";
        var getByVehiculoURL="/vehiculo/getById/";
        var deleteVehiculoURL="/vehiculo/delete/";
        var dtTable;
        var urlContext=/*[[@{/}]]*/;
        var saveURL = urlContext+"/cliente/";
        var listAllURL = urlContext+'/cliente/listAll';
        var getByURL = urlContext+"/cliente/getById/";
        var deleteURL = urlContext+"/cliente/delete/";
       
        function arrayDatatable(elem){
        	 var array=[
        		 elem.idVehiculo,
                 elem.placa,
                 elem.modelo,
                 elem.marca,
                 elem.tipo_servicio,
                 elem.color,
                 dropDown(elem.idVehiculo)];
        	return array;
        }
        $(document).ready(function () {
        	dtTable = $("#dtElement").DataTable({                              
                searching: !1
            });
            showList();
        });
        
       	function save(){	 
       		
       		var arrayData={
       			 idVehiculo : id,
                 placa : $("#placa").val(),
                 modelo : $("#modelo").val(),
                 marca : $("#marca").val(),
                 tipo_servicio : $("#tipoServicio").val(),
                 color : $("#color").val(),
                 foto : $("#foto").val(),
                };
       		saveFunction(saveURL,arrayData);
       	}
		function showList(){
			showListAllFunction(listAllURL,arrayDatatable,dtTable);
		}       
		
        function create() {
        	resetFormElement();
            $("#id").val(0);
            $('#modal_default').modal();
        }
        function functionSetData(data){
        	 
        	 $("#id").val(data.idVehiculo);
             $("#placa").val(data.placa);
             $("#modelo").val(data.modelo);
             $("#marca").val(data.marca);
             $("#")
             $("#tipoServicio").val(data.tipo_servicio);
             $("#foto").val(data.foto);
             $("#color").val(data.color);
        }
		function showDetail(id){			
			showDetailFunction(getByURL,id, functionSetData)
		}
         
        

        function deleteData(id) {
        	deleteElement("el cliente",id,deleteURL,showList,resetFormElement)
        }
        function setValueCheckType(id){
            return $(id).prop("checked")? 1:0;             
        }
        function integerToBoolean(value){
            return (parseInt(value)==1)?true:false;            
        }
        function resetFormElement() {
            resetForm("frmModalCliente");
        }
       
       
               
    </script>

</th:block>
</body>
</html>